.portfolio { 

 }

.portfolio > table { 
	width: 80%;
	margin: auto;
	padding: 10px;
	margin-bottom: 5px;
	border: 1px solid #5d6b82;
}

.portfolio > table > thead > tr > th { 
	color: #5d6b82;
	padding: 5px;
	border-bottom: 1px solid #5d6b82;
	margin-bottom: 5px;
	text-align: left;
}

.portfolio-performance { 
	border-top: 1px solid #5d6b82;
	margin-top: 5px;
	padding-top: 5px;
	text-align: right;
}

.bad-asset { 
	background-color: #6d0007;
	color: #d6d4d4;
}

.good-asset { 
	background-color: #149900;
	color: #d6d4d4;
}

.asset-info { 
	cursor: pointer;
 }

.asset-chart { 
	border: 1px solid #5d6b82;
	width: 80%;
	margin: auto;
 }